
<launch>
	
	<!-- // Boiler plate arguments ///////////////////////////////////////////////////////////////////////// -->
	<!-- if the simulation should start paused -->
	<arg name="paused"          default="false" />
	<!-- if gazebo should be launched to show the robot hand -->
	<arg name="gui"             default="true" />
	<!-- if only terminal output is wanted -->
	<arg name="headless"        default="false" />
	<!-- verbose output -->
	<arg name="verbose"         default="true" />
	<!-- use arm in simulation -->
	<arg name="arm" default="false"/>
	<!-- use hand in simulation -->
	<arg name="hand" default="true"/>
	
	<!-- // Shadow specific arguments ///////////////////////////////////////////////////////////////////////// -->
	<!-- position of the hand's spawn point -->
	<arg name="pos" default="-x 0.0 -y 0.0 -z 1.0"/>
	<!-- orientation of the hand's spawn point, measured radians in WORLD Roll-Pitch-Yaw (1.57 = pi/2 = 90 deg)  -->
	<arg name="ori" default="-R 1.57 -P -1.57 -Y 0.0"/>
	<!-- set to true to spawn trajectory controllers for the hands(the trajectory controller overwrites continuously the joint position command, preventing direct control via topics-->
	<arg name="hand_trajectory" default="false" />
	<!-- biotac -->
	<arg name="biotac" default="true"/>
	<arg if="$(arg biotac)" name="tip_sensors" value="bt_sp"/>
	<arg unless="$(arg biotac)" name="tip_sensors" default="th=pst,ff=pst,mf=pst,rf=pst,lf=pst" />

	<!-- // World specific arguments ///////////////////////////////////////////////////////////////////////// -->
	<!-- gravity is disabled in order to make probing simpler -->
	<arg name="gravity" default="false"/>

	<!-- // Launch project nodes ///////////////////////////////////////////////////////////////////////// -->
	<!-- test echo node -->
	<!-- <node pkg="sr_tactile_perception" name="echo" type="echo.py" /> -->

	<!-- testing node -->
	<node pkg="sr_tactile_perception" name="test" type="test.py" output="screen" />

	<!-- // Load in world ///////////////////////////////////////////////////////////////////////// -->
	<!-- the world with/without gravity -->
	<!-- black pen prop is included in these files -->
	<arg if="$(arg gravity)" name="world_name" value="$(find sr_tactile_perception)/worlds/sr_tac_percep_wo_g.world" />
	<arg unless="$(arg gravity)" name="world_name" value="$(find sr_tactile_perception)/worlds/sr_tac_percep_wo_g.world" />

	<!-- // Load in simulation models ///////////////////////////////////////////////////////////////////////// -->
	
	<!-- add shadow hand model -->
	<include file="$(find sr_robot_launch)/launch/tipe_srhand.launch">
		<arg name="debug" value="$(arg debug)"/>
		<arg name="gui" value="$(arg gui)"/>
		<arg name="verbose" value="$(arg verbose)" />
		<arg name="arm" value="false"/>
		<arg name="hand" value="true"/>
		<arg name="hand_trajectory" value="$(arg hand_trajectory)"/>
		<arg name="start_home" value="$(arg start_home)"/>
		<arg name="init_hand_pose" value="$(arg init_hand_pose)"/>
		<arg name="world" value="$(arg world_name)"/>
		<arg name="prop_path" value="$(find sr_tactile_perception)/models/"/>
	</include>

	<!-- make the models in in_hand_pose_estimation/models available for Gazebo -->
	<env name="GAZEBO_MODEL_PATH" value="$GAZEBO_MODEL_PATH:$(find in_hand_pose_estimation)/models/" />

</launch>