
<!-- TODO: define the necessary xacro macro here as in /home/user/projects/shadow_robot/base/src/sr_interface/sr_moveit_hand_config/config/shadow_hand.srdf.xacro  -->
<!-- and use them in the same way as shown in /home/user/projects/shadow_robot/base/src/sr_interface/sr_moveit_hand_config/config/shadow_hands_prefix.srdf.xacro -->

<!-- <?xml version="1.0"?> -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!-- we here define xacro macros -->

	<xacro:macro name="test" params="prefix joint_prefix lf is_biotac">
		<xacro:unless value="${is_biotac}">
			<joint name="${prefix}${joint_prefix}J1" value="1.5707" />
		</xacro:unless>
		<xacro:if value="${is_biotac}">
			<joint name="${prefix}${joint_prefix}J1" value="0.35" />
		</xacro:if>
		<joint name="${prefix}${joint_prefix}J2" value="1.5707" />
		<joint name="${prefix}${joint_prefix}J3" value="1.5707" />
		<joint name="${prefix}${joint_prefix}J4" value="0" />
		<xacro:if value="${lf}">
			<joint name="${prefix}${joint_prefix}J5" value="0" />
		</xacro:if>
	</xacro:macro>

</robot>