
<!-- TODO: define the necessary xacro macro here as in /home/user/projects/shadow_robot/base/src/sr_interface/sr_moveit_hand_config/config/shadow_hand.srdf.xacro  -->
<!-- and use them in the same way as shown in /home/user/projects/shadow_robot/base/src/sr_interface/sr_moveit_hand_config/config/shadow_hands_prefix.srdf.xacro -->

<!-- <?xml version="1.0"?> -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!-- we here define xacro macros -->

	<xacro:macro name="test" params="prefix joint_prefix lf is_biotac">
		<xacro:unless value="${is_biotac}">
			<joint name="${prefix}${joint_prefix}J1" value="1.5707" />
		</xacro:unless>
		<xacro:if value="${is_biotac}">
			<joint name="${prefix}${joint_prefix}J1" value="0.35" />
		</xacro:if>
		<joint name="${prefix}${joint_prefix}J2" value="1.5707" />
		<joint name="${prefix}${joint_prefix}J3" value="1.5707" />
		<joint name="${prefix}${joint_prefix}J4" value="0" />
		<xacro:if value="${lf}">
			<joint name="${prefix}${joint_prefix}J5" value="0" />
		</xacro:if>
	</xacro:macro>



	<!-- <group_state group="right_hand" name="pack2">
			<joint name="rh_THJ1" value="0.52" />
			<joint name="rh_THJ2" value="0.61" />
			<joint name="rh_THJ3" value="0.00" />
			<joint name="rh_THJ4" value="1.20" />
			<joint name="rh_THJ5" value="0.17" />
			<joint name="rh_FFJ1" value="1.5707" />
			<joint name="rh_FFJ2" value="1.5707" />
			<joint name="rh_FFJ3" value="1.5707" />
			<joint name="rh_FFJ4" value="0" />
			<joint name="rh_MFJ1" value="1.5707" />
			<joint name="rh_MFJ2" value="1.5707" />
			<joint name="rh_MFJ3" value="1.5707" />
			<joint name="rh_MFJ4" value="0" />
			<joint name="rh_RFJ1" value="1.5707" />
			<joint name="rh_RFJ2" value="1.5707" />
			<joint name="rh_RFJ3" value="1.5707" />
			<joint name="rh_RFJ4" value="0" />
			<joint name="rh_LFJ1" value="1.5707" />
			<joint name="rh_LFJ2" value="1.5707" />
			<joint name="rh_LFJ3" value="1.5707" />
			<joint name="rh_LFJ4" value="0" />
			<joint name="rh_LFJ5" value="0" />
			<joint name="rh_WRJ1" value="0" />
			<joint name="rh_WRJ2" value="0" />
	</group_state> -->

</robot>