
<launch>

	<!-- comment telling which node is being launched below -->
	<node pkg="sr_vms" type="sr_test" name="sr_test" ...>
		<!-- <param name="param-name-1" value="static-value">
		<param name="param-name-2" value="$(arg name1)">
		...
		<param name="param-name-n" value="$(arg namen)"> -->
	</node>

</launch>